<button class="px-3 bg-gray-800 rounded-lg hover:cursor-pointer">
  <a href="http://localhost:<%= globalData.port %>/config/commands/<%= option.internal %>"><%= globalData.strings.openPage %></a>
</button>
