name: 'Generate Tailwind'
on:
  workflow_dispatch:

jobs:
  pnpm:
    name: install dependencies (pnpm)
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install node dependencies
        run: pnpm i

  generateTailwind:
    name: Generate Tailwind
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install node dependencies
        run: pnpm i

      - name: Run tailwind
        run: pnpm tailwind

      - name: Commit and push the generated tailwind
        run: |
          git config --global user.name "Bundle Updater[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add src/Web/Public/output.css
          git commit -m "chore(generate-tailwind)" || echo "No changes to commit"
          git push origin HEAD:${{ github.ref_name }}
